# ===== Java =====
*.class
*.jar
*.war
*.ear

# ===== Eclipse =====
.metadata/
.settings/
.project
.classpath

# ===== Build =====
bin/
target/

# ===== Logs =====
*.log

# ===== System =====
.DS_Store
Thumbs.db

# ===== Temporary =====
.lock
.lock_info
